<div class="calculator">
  <div class="display">{{ expression || '0' }}</div>
  <div class="buttons">
    <ng-container *ngFor="let row of buttons">
      <div class="button-row">
        <button *ngFor="let btn of row"
                [ngClass]="{
                  'btn-equal': btn === '=',
                  'btn-zero': btn === '0',
                  'btn-history': btn === 'Geçmişi Göster',
                  'btn-clear': btn === 'C',
                  'btn-back': btn === '←',
                  'btn-sign': btn === '+/-',
                  'btn-operator': ['/','×','−','+','='].includes(btn)
                }"
                (click)="press(btn)">
          {{ btn }}
        </button>
      </div>
    </ng-container>
  </div>
</div>
